@model Agrokultura.Models.Plot

@{
    ViewData["Title"] = "Details";
}


<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji parcele</h1>

        <dl class="row form-group-update_create">
        <dt class = "col-sm-4">
            Naziv:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            Trebala bi biti površina:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Corners)
        </dd>
        <dt class = "col-sm-4">
            Tlo:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Ground.Name)
        </dd>
        <dt class = "col-sm-4">
            Vlasnik:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Owner.FullName)
        </dd>
        <dt class = "col-sm-4">
            Teren:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Terrain.Name)
        </dd>
    </dl>
    <div class="btn edit-data-btn">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>
    <div class="btn back-to-list">
        <a asp-action="Index">Natrag</a>
    </div>
</div>
</div>