@model Agrokultura.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<div class="row row-udpate_create mx-auto">
    <div class="col-md-6 mx-auto col-update_create">
        <h1>Detalji ugovora:</h1>

        <dl class="row form-group-update_create">
        <dt class = "col-sm-4">
           Naziv:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            Datum sklapanja ugovora:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfConclusion)
        </dd>
        <dt class = "col-sm-4">
            Datum isteka ugovora:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateOfExpiration)
        </dd>
        <dt class = "col-sm-4">
           Primatelj usluge:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Beneficiary.FullName)
        </dd>
        <dt class = "col-sm-4">
            Iznajmljivač:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Provider.FullName)
        </dd>
    </dl>
    <div class="btn edit-data-btn">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>


    <div class="btn back-to-list">
        <a asp-action="Index">Natrag</a>
    </div>
</div>

</div>